/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
**/jekyll-katex-*.gem

### JetBrains template
.idea

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

### Node template
# Logs
logs
*.log
npm-debug.log*

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


# Dependency directories
**/node_modules/
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
